apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: ecommerce-dev

bases:
  - ../../base/database
  - ../../base/backend
  - ../../base/frontend

resources:
  - ingress.yaml
  - namespace.yaml

patchesStrategicMerge:
  - backend-patch.yaml
  - frontend-patch.yaml

images:
  - name: ecommerce-backend
    newName: ghcr.io/emil-ep/argo-app/backend
    newTag: latest
  - name: ecommerce-frontend
    newName: ghcr.io/emil-ep/argo-app/frontend
    newTag: latest

commonLabels:
  environment: dev

# Made with Bob
